<!doctype html>
<h1>이곳은 갤러리</h1>
{{#each images}}
<div class="photo"><img src="{{this}}"></div>
{{/each}}

<div class="photo"><img src="/Users/Songhee/NEXT_PRJ/node_workspace/express4/public/logo.jpg"></div>
