<form action="/login_do?form=login" method="post">
    <div>id</div>
     <input type="text" name="loginId" value={{id}}>
     <div>password</div>
     <input type="text" name="pw" value={{pw}}>
     <input type="submit" value="Submit">
</form>
